/* 100% height setup for root, html, body and .themeContainer(div)
 so the dark/light themem can cover the whole page. if I remove one of them, 
 the dark/light themem could not cover the whole page
 */

#root {
  height: 100%;
  width: 100%;
  display: flex;
  text-align: center;



}


html {
  height: 100%;
  width: 100%;
  margin: 0;

}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-size: 16px;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  text-align: center;

}

.themeContainer {
  height: 100%;
  width: 100%;
}


.dark-theme {
  background-color: #333333;
  color: #ffffff;

}

.light-theme {
  background-color: white;
  color: #000000;
}

.light-theme .comment-item a {

  color: blue;
}

.dark-theme a {
  color: lightskyblue;
}

button {

  border: 1px solid black;
  padding: 0.5em 1em;
  font-size: 1em;
  background-color: lightgray;
  cursor: pointer;
  border-radius: 8px;
}

button:hover {
  /* border-color: blueviolet; */
  background-color: palegoldenrod;
}

.themeButton {
  position: fixed;
  top: 20px;
  right: 100px;

}

a {
  font-weight: 500;
  text-decoration: inherit;
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
}

.comment-container {
  display: flex;
  justify-content: center;
  padding: 20px;

}

.comment-list {

  margin: 0;

}

.comment-item {
  margin-bottom: 20px;
  list-style: square;
  padding-left: 10px;
}

.comment-item p {
  margin: 0;
  text-align: left;
}

.comment-title {
  margin-bottom: 0;
  margin-top: 40px;
}

header {
  background-color: gray;
  color: white;
  text-align: center;
  padding: 20px;
}

h1 {
  margin-top: 0;
}

nav {
  display: flex;
  justify-content: center;
}

.navLink {
  padding: 10px;
  text-align: center;
  color: white;
  font-size: 20px;

}

.create-comment-form {
  padding: 20px;
  margin: 20px;
  display: felx;
  flex-direction: column;

  justify-self: center;


  text-align: left;


}

.form-content {
  margin-bottom: 15px;
  width: 200px;
}


.create-comment-form input {
  text-align: left;
  width: 200px;
}

#review-submit-button {
  width: 100px;
  text-align: center;
  justify-self: center;
}

.comment-list-item {

  display: flex;

  justify-self: center;
  margin: 20px;
  flex-direction: column;


}

.comment-list-item p {
  margin: 10px;
  ;
  font-family: 16px;

}

.CommentPage button {
  margin: 10px;
  width: 150px;

}


.CommentPage-titles {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.Post-list-item {

  display: flex;
  flex-direction: column;
  justify-self: center;
  text-align: left;

}

.Post-list-item p {
  margin-bottom: 5px;

}

